@import url("reset.css");

html, body {
    padding: 0;
    margin: 0;
}


    .header {
    background-color: #FF6F61;
    padding: 1rem 0;
    margin-bottom: 20px;
	border-bottom: 8px solid #000000;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
    }

    .header-image {
    display: flex;
    align-items: center;
    width: 300px;
    height: auto;
        }
    
    .title {
        margin: 0;
        text-align: center;
        font-size: 24pt;
        color: #FFFFFF;
    }
        
    .description {
        display:flex;
        margin: 0;
        text-align: center;
        font-size: 18pt;
        color: #FFFFFF
    }



    
    .content-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:20px;
    background-color: #FFFAE5;
    margin-top: 20px;
        }
    .header-image {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;        
        box-shadow: 0 4px 8px rgba(0,0, 0.1);

    }
    
    .image-folder {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    padding: 20px;
    border:#4682B4 solid 6px;
    }
    
    article {
    margin-bottom:20px;
    background: #FFFAE5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
    
    h1, h2 {
        color: black;
      }
    
    p {
    margin-bottom: 10px;
    color: black;
    padding: 20px;
    }
    
    .Colors {
    color: #4A4A4A;
    }
    
    .instructions {
      margin-bottom: 20px;
      padding: 20px;
     }

     .interactive-section {
        margin-bottom: 20px;
        padding: 20px;
     }

     .palette-display {
        margin-bottom: 20px;
        padding: 20px;
     }

     .color-box {
        width: 100px;
        height: 100px;
        margin: 10px;
        display: inline-block;
        border: 1px solid #000;
        border-radius: 5px;
    }
    @media (min-width: 760px) {
    
        .image-folder {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 700px;
            height: auto; 
            margin-bottom: 20px;
            padding: 30px;
            border:#4682B4 solid 6px;
            }
    
            p {
                font-size: larger;
    }

