@import url("reset.css");

html, body {
    padding: 0;
    margin: 0;
}


    .header {
    background-color: #FF6F61;
    padding: 1rem 0;
    margin-bottom: 20px;
	border-bottom: 8px solid #000000;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
    }

    .header-image {
    display: flex;
    align-items: center;
    width: 300px;
    height: auto;
        }
    
    .title {
        margin: 0;
        text-align: center;
        font-size: 24pt;
        color: #FFFFFF;
    }
        
    .description {
        display:flex;
        margin: 0;
        text-align: center;
        font-size: 18pt;
        color: #FFFFFF
    }



    
    .content-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:20px;
    background-color: #FFFAE5;
    margin-top: 20px;
    }
    
    .first-pic, .second-picture, .image-three, .image-four, .image-five {
    width: 300px;
    height: 200px; 
    margin-bottom: 20px;
    border:#4682B4 solid 6px;
    }
    
    article {
    margin-bottom:20px;
    background: #FFFAE5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
    
    h1, h2 {
        color: #FF6F61;
    }
    
    p {
    margin-bottom: 10px;
    }
    
    .Colors {
    color: #4A4A4A;
    }
    
  